body {
    background: rgba(255, 255, 255, 1);
}
button {
    margin: none;
    width: 60px;
    border: none;
    color: rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 1);
    padding: 20px;
    padding-top: 250px;
    box-shadow: 2px 2px 5px 2px;
}
button:hover {
    cursor: pointer;
    background: rgba(200, 200, 200, 1);
}
.Bcolor-additive {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    margin-left: 30px;
    position: absolute;
    padding-top: 140px;
}
.Bcolor-additive:hover {
    background: rgba(50, 50, 50, 1);
}
.Dcolor-additive {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    margin-left: 90px;
    position: absolute;
    padding-top: 140px;
}
.Dcolor-additive:hover {
    background: rgba(50, 50, 50, 1);
}
.Ecolor-additive {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    margin-left: 150px;
    position: absolute;
    padding-top: 140px;
}
.Ecolor-additive:hover {
    background: rgba(50, 50, 50, 1);
}
.Gcolor-additive {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    margin-left: 270px;
    position: absolute;
    padding-top: 140px;
}
.Gcolor-additive:hover {
    background: rgba(50, 50, 50, 1);
}