body {
    background: rgba(255, 255, 255, 1);
}
button {
    margin: none;
    width: 60px;
    border: none;
    color: rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 1);
    padding: 20px;
    padding-top: 250px;
    box-shadow: 2px 2px 5px 2px;
}
button:hover {
    cursor: pointer;
    background: rgba(200, 200, 200, 1);
}
.color-additive {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    margin-left: 35px;
    position: absolute;
    padding-top: 140px;
    width: 50px;
    padding: 15px;
}
.color-additive:hover {
    background: rgba(100, 100, 100, 1);
}
.keys {
    position: fixed;
    bottom: 0;
}